{{ define "main" }}
    {{ .Content }}



    <h2>Bem vindo ao suspension for begginers, vamos aprender sobre suspensão?</h2>

    <p> <h3>Primeiramente, o que é e para que serve uma suspensão?</h3></p>

    <p>A Suspensão de um veículo automotivo é basicmanete um mecanismo introduzido (comumente em cada quarto de carro) para controlar as interações das forças e impulsos adicionados nas rodas (massas não suspensas) em relação ao corpo do veículo (massa suspensa)</p>

    <img class="massa mola" src="{{"images/massamola.png" | relURL}}" alt="massa mola">

    <p>Em um carro de performance a filosofia da utilização de uma suspensão é um pouco diferente, a motivação do projeto de um carro de performance é otimizar o tempo de volta, tendo como gargalo a capácidade do pneu de gerar forças e a capácidade do piloto de usar o veículo próximo ao limite passível de projeto</p>

    <img class="carro" src="{{"images/carro.png" | relURL}}" alt="carro">








    
{{ end }}

